<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Edit</title>
    <link rel="stylesheet" href="/edit.css">
</head>
<body>
    <h1>Edit this chat!</h1>
    <form action="http://localhost:8080/edit/<%=chat._id%>?_method=PATCH" method="post">
        <div class="chat">
            <p>From : <%=chat.from %></p>
            <div class="msg">
                <p><textarea class="text" style="background-color: transparent; border: transparent; color: white;" name="message" id=""><%=chat.msg%></textarea></p>
            </div>
            <p>To : <%=chat.to %></p>
            <button>submit</button>
        </div>
    </form>
</body>
</html>